__pycache__/*
*.pyc
testdb/
.idea/
backup/
db/
discord.config.json
discord-frontend.py
index.html
websocket.config.json
websocket-frontend.html
irc.config.json
cli.config.json
defaults.config.json
server.config.json
telnet.config.json
motd.telnet.txt
websocket-frontend.example_v2.html
*.log
*.lock
*.pid
nohup.out
world.json
