__pycache__/*
docs/_build/*
*.pyc
.idea/
singleuser.config.json
defaults.config.json
server.config.json
motd.telnet.txt
websocket-client.example.html
*.log
*.lock
*.pid
nohup.out
world.json
Thumbs.db
.DS_Store
