__pycache__/*
*.pyc
testdb/
.idea/
client.py
server.py
backup/
db/
discord.config.json
discord-frontend.py
index.html
websocket.config.json
websocket-frontend.html
irc.config.json
cli.config.json
dennis.log
