{
  "host": "irc.datnode.net",
  "port": 6667,
  "nickname": "Dennis",
  "username": "Dennis",
  "realname": "Dennis MUD",
  "channels": [
    "#dennis"
  ],
  "database": {
    "host": "localhost",
    "port": 27017,
    "name": "dennis"
  }
}
